.message-box {
  width: fit-content;
  font-size: 1.5rem;
  margin: 1.2em 1em;
}
.message-box p {
  background-color: #fff;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0 0.5em;
  width: 100%;
  color: #646464;
}
.message-box h4 {
  margin: 0.4em 0;
  font-weight: 400;
  padding: 1em 0.8em;
  border-radius: 10px;
}
.user-message {
  margin-left: auto;
}
.user-message h4 {
  background-color: lightblue;
}
.others-message h4 {
  background-color: #dedede;
}
